<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load data_doc_extras %}
  <title>CDR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <link rel="stylesheet" href="https://docullystorage.blob.core.windows.net/docullycontainer/css/cdr-style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 
  <link href="https://docullystorage.blob.core.windows.net/docullycontainer/css/jquery-simpleTreeMenu.css" rel="stylesheet" type="text/css" />

</head>

<body oncopy="return false" oncut="return false" onpaste="return false" >
<div id="authorized" style="display:none;">
<header class="topbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="cdr_branding">
        <img src="https://docullystorage.blob.core.windows.net/docullycontainer/images/cdr-logo.png">
    </div>
      <button class="cdr-nm-btn back-bnt" onclick="window.location='{{frontend_url}}/#/folder_detail/{{folder.parent_folder_id}}';"><i class="fas fa-long-arrow-alt-left"></i> BACK</button>
  </div>
</header>

<div class="container-fluid my-4">
<div class="row">
<div class="col-md-9">

<div class="content-part mat-card">

<div class="cdr-breadcrumb ng-star-inserted">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{frontend_url}}/#/documents">All Documents</a></li>
        {% for fldr in folder.parent_folders %}<li class="breadcrumb-item active"><a href="{{frontend_url}}/#/folder_detail/{{fldr.id}}">{{ fldr.name}}</a></li>{% endfor %}
        <li class="breadcrumb-item active"><a>{{ folder.name}}</a></li>
    </ol><span style="flex: 1 1 0%; box-sizing: border-box;"></span>
</div>

<div class="fpc">
<div class="fpc-header">
  <h2><i class="fas fa-file file-viewer-icon"></i> {{ folder.name }}</h2>
</div>
</div>



  {% if odf %}
 <div class="iframe-container" id="iframeContainer"> 
<iframe class="iframe-style" src="{{path}}">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>
<!-- <div id='viewer' style='width: 1024px; height: 600px;'></div>
 -->{% elif docs %}
 <div>
<main id="main">
      <iframe  class="iframe-style" id="iframes"></iframe>
    </main>
    </div>
<!-- <div id="dvContainer" style="width:1200px;height:1000px;"></div> -->
{% elif csv %}
<div>
<div  class="iframe-style">
<div class="csv-file-view">
<table class="table table-hover  table-bordered" id="table-csv" width="100%"></table>
</div>
</div>
</div>

{% elif excel %}

<div  class="iframe-style">
    <div id="Excel-Tabs" class="tab"></div>
    <div id="wrapper" class="tabcontent excel-table-d csv-file-view"></div>
</div>

{% else %}
<div class="iframe-container" id="iframeContainer" ondrag="return false;" onpaste="return false;" oncopy="return false;">
<iframe  class="iframe-style" src="{{path}}" >
  <p>Your browser does not support iframes.</p>
</iframe>
</div>
{% endif %}

<div class="comment-box">
  <div class="pro-info mb-5">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="row">
    <div class="col-md-1">
      <img class="img-fluid user-icon-pic" src="https://docullystorage.blob.core.windows.net/docullycontainer/images/comment1.jpg">
    </div>

    <div class="col-md-11 pl-0">
       <div class="user-details">
        <span class="orange">Shivkumar</span>
        <span class="dr-chip active">Admin</span>
      </div>
      <!-- <form action="{% url 'file_comment' %}" method="post">{% csrf_token %} -->
        <div class="d-flex justify-content-end">
         <select class="form-control w-auto" name="category" id="category">
            <option value="">Select Categories</option>
            <option value="0">General</option>
            {% for category in category_list %}
              <option value="{{ category.id }}">{{ category.categories_name }}</option>
            {% endfor %}
            <!-- <option>One Categories</option>
            <option>Two Categories</option>
            <option>three Categories</option> -->
          </select>
        </div>

        <div class="d-flex align-items-start mt-4">
          <textarea class="form-control" name="title" id="title"></textarea>
          <input type="hidden" id="fileId" value="{{folder.id}}">
          <input type="hidden" id="dataroomId" value="{{folder.dataroom.id}}">
          <input type="hidden" id="logdinId" value="{{login_user}}">
          <button class="cdr-nm-btn" onclick="qna_comment()">Submit Question</button>
        </div>
      <!-- </form> -->
      <!-- comments on question -->
      <div class="row mt-5" id="qna">
          <!-- <div class="col-md-1">
            <img class="img-fluid user-icon-pic" src="/static/images/comment2.jpg">
          </div>

      
          <div class="col-md-11 pl-0" >
           <div class="user-details">
            <span class="orange"><b id="qna_name"></b> <em class="dtime" id="qna_date"></em></span>
           </div>
            <p id="qna_q">.</p>
            <a href="#" class="reply-st mt-2"><i class="fas fa-reply"></i></a>          
          </div> -->
          <p id="qna_q"></p>

      </div> <!--end comments on question -->

      <!-- <div class="row mt-5" id="qna_lists">
     
        {% for qna in qna_list %}
          <div class="col-md-1">
            <img class="img-fluid user-icon-pic" src="/static/images/comment2.jpg">
          </div>

      
          <div class="col-md-11 pl-0" >
           <div class="user-details">
            <span class="orange"><b>Jon Doe</b> <em class="dtime">09:10 Nov, 19 2016</em></span>
           </div>
            <p>{{qna.question}}.</p>        
          </div>
        {% endfor %}
      
      </div> -->
    </div>

  </div>
  <div id="the-div-that-should-be-refreshed">
  {% for qna in qna_list %}
    <!-- {% if qna.final == 'True' %}
      
    {% endif %} -->
      {% if qna.final == False %}
        <div class="row mt-5">
          <div class="col-md-1">
            <img class="img-fluid user-icon-pic" src="https://docullystorage.blob.core.windows.net/docullycontainer/images/comment2.jpg">
          </div>


          <div class="col-md-11 pl-0" >
           <div class="user-details">
            <span class="orange"><b>{{ qna.user.first_name }}</b> <em class="dtime">{{qna.created_date}}</em></span>
           </div>
            <p>{{qna.question}}.</p>
            {% if dataroom_user_list.is_q_a_submitter_user %}
              <button onclick="reply_question({{qna.id}})">Reply</button>
              <!-- <button onclick="reply_question()">reply</button> -->
              <!-- <a class="reply-st mt-2"><i class="fas fa-reply"></i> reply</a> -->
            {% endif %}
            <div id="qna_answer_div_{{qna.id}}" class="qna_answer_div" style="display:none">
              <textarea name="qna_answer" id="qna_answer_{{qna.id}}"></textarea>
              <input type="hidden" id="qna_answer_id_{{qna.id}}" value="{{qna.id}}">
              <!-- <input type="hidden" id="dataroomId" value="{{folder.dataroom.id}}"> -->
              <input type="hidden" id="logdinId" value="{{login_user}}">
              <button class="cdr-nm-btn" onclick="qna_submit_answer({{qna.id}})">Submit Answer</button>
            </div>
          </div>
        </div>
        {% get_rate qna.id as result %}
        {% if result %}
          {% for qna in result %}
            <div class="row mt-5" style="margin-left: 100px;">
              <div class="col-md-1">
                <img class="img-fluid user-icon-pic" src="https://docullystorage.blob.core.windows.net/docullycontainer/images/comment2.jpg">
              </div>


              <div class="col-md-11 pl-0" >
               <div class="user-details">
                <span class="orange"><b>{{ qna.user.first_name }} </b> <em class="dtime">{{qna.created_date}}</em></span>
               </div>
                <p>{{qna.answer}}.</p>
                <!-- <a href="#" class="reply-st mt-2"><i class="fas fa-reply"></i> reply</a> -->          
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    
    <!-- {% if qna.final == True %}
      
    {% endif %} -->
  {% endfor %}
  </div>
 <!-- comments on question -->
    <!-- <div class="row mt-5">
      {% if qna_list %}
        <div class="col-md-1">
          <img class="img-fluid user-icon-pic" src="/static/images/comment2.jpg">
        </div>

        <div class="col-md-11 pl-0">
         <div class="user-details">
          <span class="orange"><b>Jon Doe</b> <em class="dtime">09:10 Nov, 19 2016</em></span>
         </div>
          
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
          <a href="#" class="reply-st mt-2"><i class="fas fa-reply"></i> reply</a>
              
        </div>
      {% endif %}
   </div>  --><!--end comments on question -->



</div>

</div>

</div>

<div class="col-md-3">

    <div class="content-part mat-card fpat mb-3">
        <h4><i class="fas fa-file file-viewer-icon"></i> File Information</h4>

        <div class="pnl-body">
  
          <div class="file-details">
            <p><b>Uploaded By:</b> <span>{{ folder.user.first_name}} {{ folder.user.last_name}}</span></p>
            <p><b>Uploaded:</b> <span>{{ folder.created_date | date}}</span></p>
            <p><b>Size:</b> <span>{{ folder.file_size_mb }} MB</span></p>
          </div>
        
          <div class="action-btn-st mt-4">
		  {% if is_download %}<a href="{{path}}" download><i class="fas fa-download"></i></a>{% endif %}
		  {% if is_upload %}<a id="upload_file"><i class="fas fa-upload" style="color: #007bff;"></i></a>
		  <input type="file" id="upload_file1" style="display: none;" />{% endif %}
		  {% if is_print %}<a onClick="printChart()" ><i class="far fa-save" style="color: #007bff;"></i></a>{% endif %}
            <!-- <a href="{{path}}" onClick="CallPrint()"><i class="far fa-save"></i></a> -->
          </div>
        </div>

    </div>

<div class="content-part mat-card mb-3">
 <!-- <ul id="fileListView" class="tree-list-view">
            <li>
                <span class="stm-icon">Folder name</span>
                <ul>
                    <li>
                        <span class="stm-icon">File name.jpg</span>
                    </li>
                    <li>
                        <span class="stm-icon">File name.png</span>
                    </li>
                    <li>
                        <span class="stm-icon">File name.pdf</span>
                    </li>
                    <li>
                        <span class="stm-icon">Folder name</span>
                        <ul>
                             <li>
                                <span class="stm-icon">File name.jpg</span>
                              </li>
                              <li>
                                  <span class="stm-icon">File name.png</span>
                              </li>
                              <li>
                                  <span class="stm-icon">File name.pdf</span>
                              </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <span class="stm-icon">Folder name</span>
                <ul>
                     <li>
                        <span class="stm-icon">File name.jpg</span>
                      </li>
                      <li>
                          <span class="stm-icon">File name.png</span>
                      </li>
                      <li>
                          <span class="stm-icon">File name.pdf</span>
                      </li>
                </ul>
            </li>
            
        </ul> -->
         <ul id="root" class="file-tree-view"></ul>
</div>

  <div class="content-part mat-card fpat">
    <h4>Activity Tracker</h4>

    <div class="mat-list-item">
      
      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text bdr-btm mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

      <div class="mat-list-text mlcprev">
        <h6>Invitation to <a  href="">yahoo.com</a> workspace</h6>
        <span>Mon Aug 07 11:28pm</span>
      </div>

    </div>
  </div>

</div>

</div>
</div>



</div>
<div id="unauthorized" style="display:none;">
  You are Unauthorized to access this page without login. <a href="{{frontend_url}}">Login to continue. </a>
</div>
</body> 
</html>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js" type="text/javascript"></script>
  <!-- <script src='/static/lib/html5/external/jquery-3.2.1.min.js'></script>
  <script src='/static/lib/WebViewer.min.js'></script> -->
  <script src="https://docullystorage.blob.core.windows.net/docullycontainer/js/jquery-simpleTreeMenu.js"></script>
  


<script type="text/javascript">
  // var viewerElement = document.getElementById('viewer');
  // var  pathsw = 'http://{{path}}';
  // // debugger;
  // var myWebViewer = new PDFTron.WebViewer({
  //   path: '/static/lib',
  //   l: 'demo:achita.z@axat-tech.com:7560753d016c7fd14dcf7f4ed388ce2c469d07ee6d068c0cef', //replace with your free trial license key from https://www.pdftron.com/form/download-trial
  //   initialDoc: pathsw, // replace with your own PDF file or continue to integration guide for setting up document loading using relative paths on your server
  //   pdftronServer: 'http://localhost:8090/' // remove option to run client-side only, or replace later with your own server
  // }, viewerElement);
var viewingSessionId;
       var viewerControl;
function populateUL(ul) {
    // Register the given UL element as the root in a new data structure
    // var data = '{{all_folders}}'
    
}


$(document).ready(function() {

  var x = document.cookie;
  var name = 'token'
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    var last = ca[ca.length-1]
    // var value = "; " + document.cookie;
    // var parts = value.split("; " + name + "=");
   for (i = 0; i < ca.length; i++) { 
      token  = ca[i].split('=')
      if(token[0] == ' token'){
        $('#authorized').show()
        $('#unauthorized').hide()
        break;
      }else{
        $('#unauthorized').show()
        $('#authorized').hide()
      } 
    } 

  debugger;
  // window.onfocus=function(){ window.close();}

  ul = $("#root")
  var hash = { 
        "": { ul: ul }
    };
    var data = '{{ all_folders | escapejs }}';
    data = data.replace(/'/g, '"')
    data = JSON.parse(data);
    // Key the objects by their id, and create individual LI elements for them,
    // and an empty UL container for their potential child elements
    data.forEach(function (o) {
        var ul = $("<ul>");
        hash[o.id] = { 
            ul: ul,
            li: $("<li>").text(o.name).append(ul)
        };
    });
    // Append each LI element to the correct parent UL element
    data.forEach(function (o) {
        hash[o.parent_folder_id].ul.append(hash[o.id].li);
    });




  var iframeEl = $('iframe').contents().get(0);

  $(iframeEl).bind('contextmenu', function(e) {
    return false;
}); 

        debugger;
         if('{{docs}}'=='True'){
          debugger;
         $.ajax({
           "type": "post",
           "url": "https://api.accusoft.com/PAS/V1/ViewingSession",
           "headers": {
             "acs-api-key": "t0gc33ik6ff3pyfATcStDJhGJbGF1zOaOK88sIdQmbEjYww5FUjTpV767U3q-UuE"
           },
           "data": JSON.stringify({
             "source": {
               "type": "url",
               // "url":'http://{{path}}'
               "url": '{{path}}'//"https://www.usability.gov/sites/default/files/creating-wireframes.pdf"
             }
           })
         }).done(function(response) {
           viewingSessionId = response["viewingSessionId"];
 
           $("#iframes").attr("src", "/static/childPage.html?viewingSessionId=" + viewingSessionId);
         });
       }else if('{{csv}}' == 'True'){
        debugger;
        function arrayToTable(tableData) {
        var table = $('#table-csv');
        debugger;
        $(tableData).each(function (i, rowData) {
            var row = $('<tr></tr>');
            $(rowData).each(function (j, cellData) {
                row.append($('<td>'+cellData+'</td>'));
            });
            table.append(row);
        });
        return table;
    }
    $.ajax({
        type: "GET",
        url: "{{path}}",
        success: function (data) {
            $('.csv-file-view').append(arrayToTable(Papa.parse(data).data));
        }
    });
       }else if ('{{excel}}' == 'True'){

       
        var req = new XMLHttpRequest();
        req.open("GET", '{{path}}', true);
        req.responseType = "arraybuffer";
        debugger;        
                req.onload = function(e) {
                        var data = new Uint8Array(req.response);
                        wb = XLSX.read(data,{type:'array'});    
                        for (w in wb.SheetNames){
                          htmlstr = XLSX.write(wb,{sheet:wb.SheetNames[w],type:'binary',bookType:'html'});
                          var sheet = '<button class="tablinks" onclick="GetClicked('+w+')">'+wb.SheetNames[w]+'</button>'
                          $("#Excel-Tabs").append(sheet);
                          $("#wrapper")[0].innerHTML = htmlstr;
                }

                }
        req.send();
              }

// tree simpleTreeMenu
  
  $('#root').simpleTreeMenu();

document.getElementById('upload_file').onclick = function() {document.getElementById('upload_file1').click();
};

$('input[type=file]').change(function (e) {
    var data = new FormData();
    $.each($('#upload_file1')[0].files, function(i, file
      ) {
        data.append('file0', file);
    });
    $.ajax({
    url: '/upload_file_version/{{folder.id}}/',
    data: data,
    cache: false,
    contentType: false,
    processData: false,
    method: 'POST',
    type: 'POST', // For jQuery < 1.9
    success: function(data){
      debugger;
        // alert(data);
        location.reload();
    }
});
    // debugger;
     
});

// $('#jstree').jstree();

       });

function printChart(){
  var myParameters = window.location.search;// Get the parameters from the current page

    var URL = "{{path}}";

    var W = window.open(URL);

    W.window.print();
    // setTimeout(function () { window.print(); }, 500); 
}

function reply_question(id) {
  debugger;
  $(".qna_answer_div").hide();
  $("#qna_answer_div_"+id).show();
  // $("#hide").click(function(){
        
  //   });
}

function qna_submit_answer(id){
  debugger;
  var qna_answer = document.getElementById("qna_answer_"+id).value;
  var qna_answer_id = document.getElementById("qna_answer_id_"+id).value;
  var login_user_id = document.getElementById("logdinId").value;
  qna_rply(qna_answer, qna_answer_id, login_user_id)
}

function qna_rply(qna_answer, qna_answer_id, login_user_id) {
  // body...
  $.ajax({
    type: "POST",           
    url: "/file_comment_reply/", 
    data:{
      'qna_answer': qna_answer,
      'qna_answer_id': qna_answer_id,
      'login_user_id': login_user_id,
      'processData': false,
      'contentType': false,
      'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    dataType: 'json',
    success: function(data){
      debugger;
      location.reload();
      // $('#the -div-that-should-be-refreshed').html(data);
      // var i;
      // for (i = 0; i < data.qna_list.length; i++) {
      //   txt += ""
      //   // var toAdd = document.createDocumentFragment();
      //   var newDiv = document.createElement("div");
      //   newDiv.className = 'row mt-5';
      //   var para = document.createElement("p");
      //   var person = data.qna_list[i];
      //   var qna_q_text = "";
      //   var created_date = "";
      //   var txt = "";
      //   for (x in person) {
      //       debugger;
      //       if (x == 'question') {
      //         qna_q_text += person[x];
      //       }

      //       if (x == 'created_date') {
      //           var selected_date = new Date(person[x])
      //           created_date += selected_date;
      //       }

      //       txt += person[x] + " ";
      //   }
        
      //   txt += "";
      //   var imgDiv = document.createElement("div");
      //   imgDiv.className = 'ol-md-1';
      //   newDiv.appendChild(imgDiv);

      //   var dataDiv = document.createElement("div");
      //   dataDiv.className = 'col-md-11 pl-0';
      //   newDiv.appendChild(dataDiv);

      //   var userDiv = document.createElement("div");
      //   userDiv.className = 'user-details';
      //   dataDiv.appendChild(userDiv);
        
      //   var spanDiv = document.createElement("span");
      //   spanDiv.className = 'orange';
      //   userDiv.appendChild(spanDiv);

      //   var span_node = document.createTextNode("   Rajendra");
      //   var bold = document.createElement("b");
      //   bold.appendChild(span_node);
      //   spanDiv.appendChild(bold);

      //   var em_node = document.createTextNode(created_date);
      //   var em = document.createElement("em");
      //   em.appendChild(em_node);
      //   spanDiv.appendChild(em);

      //   var node = document.createTextNode(qna_q_text);
      //   node.className = 'list-group-item list-group-item-success';
      //   para.appendChild(node);
      //   dataDiv.appendChild(para);

      //   var ancorDiv = document.createElement("a");
      //   ancorDiv.className = 'reply-st mt-2';
      //   dataDiv.appendChild(ancorDiv);

      //   var iDiv = document.createElement("i");
      //   iDiv.className = 'reply-st mt-2';
      //   ancorDiv.appendChild(iDiv);

      //   var newImages = document.createElement("img");
      //   newImages.setAttribute('src', 'http://www.testtrackinglink.com');
      //   newImages.setAttribute('alt', 'na');
      //   newImages.setAttribute('height', '1px');
      //   newImages.setAttribute('width', '1px');
      //   imgDiv.appendChild(newImages);

        
      //   var element = document.getElementById("qna_q");
      //   element.appendChild(newDiv);
      // }
    },
    error:function(data){
      debugger
      alert(data);
      console.log(error)
    }
  });
}

function qna_comment() {
  debugger;
  var category = document.getElementById("category");
  var category_id = category.options[category.selectedIndex].value;
  var que_title = document.getElementById("title").value;
  var file_id = document.getElementById("fileId").value;
  var dataroom_id = document.getElementById("dataroomId").value;
  var login_user_id = document.getElementById("logdinId").value;
  generate_code(category_id, que_title, file_id, dataroom_id, login_user_id)

}

function generate_code(category_id, que_title, file_id, dataroom_id, login_user_id) {
  //do something
  var hello = '{{qna_list}}'
  $.ajax({
    type: "POST",           
    url: "/file_comment/", 
    data:{
      'category_id': category_id,
      'que_title': que_title,
      'file_id': file_id,
      'dataroom_id': dataroom_id,
      'login_user_id': login_user_id,
      'processData': false,
      'contentType': false,
      'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    dataType: 'json',
    success: function(data){
      $("#qna_lists").hide();
      // $("#qna_lists").html(data.qna_list);
      var i;
      for (i = 0; i < data.qna_list.length; i++) {
        txt += ""
        // var toAdd = document.createDocumentFragment();
        var newDiv = document.createElement("div");
        newDiv.className = 'row mt-5';
        var para = document.createElement("p");
        var person = data.qna_list[i];
        var qna_q_text = "";
        var created_date = "";
        var txt = "";
        for (x in person) {
            debugger;
            if (x == 'question') {
              qna_q_text += person[x];
            }

            if (x == 'created_date') {
                var selected_date = new Date(person[x])
                created_date += selected_date;
            }

            txt += person[x] + " ";
        }
        
        txt += "";
        var imgDiv = document.createElement("div");
        imgDiv.className = 'ol-md-1';
        newDiv.appendChild(imgDiv);

        var dataDiv = document.createElement("div");
        dataDiv.className = 'col-md-11 pl-0';
        newDiv.appendChild(dataDiv);

        var userDiv = document.createElement("div");
        userDiv.className = 'user-details';
        dataDiv.appendChild(userDiv);
        
        var spanDiv = document.createElement("span");
        spanDiv.className = 'orange';
        userDiv.appendChild(spanDiv);

        var span_node = document.createTextNode("   Rajendra");
        var bold = document.createElement("b");
        bold.appendChild(span_node);
        spanDiv.appendChild(bold);

        var em_node = document.createTextNode(created_date);
        var em = document.createElement("em");
        em.appendChild(em_node);
        spanDiv.appendChild(em);

        var node = document.createTextNode(qna_q_text);
        node.className = 'list-group-item list-group-item-success';
        para.appendChild(node);
        dataDiv.appendChild(para);

        var ancorDiv = document.createElement("a");
        ancorDiv.className = 'reply-st mt-2';
        dataDiv.appendChild(ancorDiv);

        var iDiv = document.createElement("i");
        iDiv.className = 'reply-st mt-2';
        ancorDiv.appendChild(iDiv);

        var newImages = document.createElement("img");
        newImages.setAttribute('src', 'http://www.testtrackinglink.com');
        newImages.setAttribute('alt', 'na');
        newImages.setAttribute('height', '1px');
        newImages.setAttribute('width', '1px');
        imgDiv.appendChild(newImages);

        
        var element = document.getElementById("qna_q");
        element.appendChild(newDiv);

        //"<div class="row mt-5" id="qna_lists">"
        //     "<div class="col-md-1">"
        //       "<img class="img-fluid user-icon-pic" src="/static/images/comment2.jpg">"
        //     "</div>"

        
        //     <div class="col-md-11 pl-0" >
        //      <div class="user-details">
        //       <span class="orange"><b> Jon Doe 1111111111</b> <em class="dtime">09:10 Nov, 19 2016</em></span>
        //      </div>
        //       <p class="list-group-item list-group-item-success">.</p>
              // <a href="#" class="reply-st mt-2"><i class="fas fa-reply"></i> reply</a>          
        //     </div>
        
        // "</div>";
      }
      
      // $("#qna_name").html('Rajendra');//data.single_qna.questio
      // $("#qna_q").html(data.single_qna.question);
      // $("#qna_date").html(data.single_qna.created_date);
      // document.getElementById('qna').innerHTML = data['qna_list'];
      // hello = data.qna_list;
    },
    error:function(data){
      debugger
      alert(data);
      console.log(error)
    }
  });
}


function GetClicked(i){
  debugger;
  var sheet = wb.SheetNames[i];
  htmlstr = XLSX.write(wb,{sheet:sheet,type:'binary',bookType:'html'});
  $("#wrapper")[0].innerHTML = htmlstr
  debugger;
}

</script>
