
{% extends 'emailer/base/base.html' %}


 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
					<p><strong style=" font-weight: 600; color: #4e6e7f; font-size: 16px;">Hi {{ user.first_name }},</strong></p>
					<p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">Please find below credentials to login Confiex Dataroom . 
						<br/>
						<br/>Your username and password :</b>. </p>
					
						 
							<p>Email/Username :{{user.email}}</p>
							<p>Password : {{password}}</p>
						
				
					<p>If you have any query regarding your account, please contact us at  <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">{{site_setting.support_email_id}}</a></p>
					<p>You can always call us at  <strong style="color: #0cd3f1">{{site_setting.phone_no}}</strong> if you have any questions.</a></p>
				<br>
            {% include "emailer/address.html" %}

               </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}