{% extends 'emailer/base/base.html' %}


 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
                  <p><strong style=" font-weight: 600; color: #4e6e7f; font-size: 16px;">Dear {{user}},</strong></p>
                  <p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">

                
                 
                You have requested to reset your Docully account login password. Please click on the link below to setup your secure password
         </p>
         <p>Password reset link <a href="{{link}}">Click here </a></p>
         <p>Please note:</p>
         <!-- <ul>
           <li>This link is for one time use only.</li>
         </ul> -->
         <p>
           This link is for one time use only. Click on forgot password for a fresh link or write to <a href="mailto:support@docullyvdr.com" >support@docullyvdr.com</a>.     
         </p>
              

      <!-- 	<tr>
              <td style="padding-left: 20px; padding-right: 20px; padding-top:15px; padding-bottom:15px">
                  <span style="color: #1059ff; word-break: break-all; font-size: 12px;">{{link}}</span>
              </td>
          </tr> -->
     
                  <!-- <p>If you have any query regarding your account, please contact us at  <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">{{site_setting.support_email_id}}</a></p>
                  <p>You can always call us at  <strong style="color: #0cd3f1">{{site_setting.phone_no}}</strong> if you have any questions.</a></p> -->
              
            
                          
<!--             <p>Thanks,</p>
            <p><span class="context">Team Docully</span></p>

            <div class="" style="text-align: center;">
              <h4 style="color:rgb(0, 0, 0)">Docully Innovation Limited</h4>
              <p style="color:rgb(0, 89, 251)">Office #9, Level 4, Gate District 5,<br>Dubai International Financial Center,<br>PO Box - Dubai, UAE.<br>Phone: +971504127097<br><a ref="https://www.docully.com">www.docully.com</a> 
                  </p>

              <p>If you have received this email in error, please report it to 
                <a ref="support@docullyvdr.com">support@docullyvdr.com</a></p>
                <p>You may setup your email preferences <a href="https://services.docullyvdr.com/#/user-personal-info">here</a> (link to email preferences in profile settings)</p>
            </div>

               </div> -->
               {% include "emailer/address.html" %}
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}