{% extends 'emailer/base/base.html' %}

 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">					


        	<p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">{{ user.first_name }} have placed request for cancel Archive request <b>{{dataroom.dataroom_nameFront}} </b> Dataroom. </p>
					<p>Please find the below details:</p>
					<p>1. Dataroom Name: {{dataroom.dataroom_nameFront}}</p>
					<p>2. Dataroom Id: {{dataroom.id}}</p>
					<p>3. Requester Name: {{user.first_name}} {{user.last_name}}</p>
					<p>4. Requester Mail Id: {{user.email}}</p>
				

		<!-- 	<tr>
				<td style="padding-left: 20px; padding-right: 20px; padding-top:15px; padding-bottom:15px">
					<span style="color: #1059ff; word-break: break-all; font-size: 12px;">{{link}}</span>
				</td>
			</tr> -->
			
					<p>If you have any query regarding your account, please contact us at  <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">{{site_setting.support_email_id}}</a></p>
					<p>You can always call us at  <strong style="color: #0cd3f1">{{site_setting.phone_no}}</strong> if you have any questions.</a></p>
				
					<p style="font-weight: 600; padding:15px 0 0;  margin: 0 0 5px; border-top:1px solid #f1f1f1;">Best regards,</p>
					<p style="padding: 0; margin: 0 0 5px; color: #7a7a7a">Your Dataroom Team</p>
					<p style="padding: 0; margin: 0;"><a href="{{site_setting.domain_name}}" target="_blank" style="color:#0cd3f1;">{{site_setting.domain_name}}</a></p>
				
            </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock context %}