<html>

<head>
  {% load static %}
  <link id="prt" name="prt" rel=alternate media=print href="something" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="X-UA-Compatible" content="IE=11" />



  <script src="https://services.docullyvdr.com/assets/js/index.js"></script>

  <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"></script>

  <link rel="stylesheet" href="https://services.docullyvdr.com/assets/css/cdr-styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

  <!-- <link rel="icon " type="image/x-icon " href="https://docullystorage.blob.core.windows.net/docullycontainer/images/favicon.ico"> -->
  <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script>
  <script src="https://npmcdn.com/pdfjs-dist/web/pdf_viewer.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <link href="https://services.docullyvdr.com/assets/css/angular-tree-component.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
</head>
<header class="topbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="cdr_branding">


      <img src="https://services.docullyvdr.com/assets/images/logo.png">

</header>
<div class="container-fluid my-4">


  <!--       <div class="col-md-10" >
      
      <div class="content-part mat-card">
      <div class="cdr-breadcrumb ng-star-inserted">
          <ol class="breadcrumb">

          </ol>
      </div>
        
      <div class="fpc">
        <div class="fpc-header">
        </div>
        </div>
       -->



  <div class="row" style="display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;">
    <h5 style="text-align: center;">Your user credentials do not match to open this file. This file is protected and can be accessed only by the
      authorised user. <br><br>
      Please logout & authenticate your access with that of the authorised user or click on the Home Button to go to
      your Dashboard.<br><br>
      If you have any questions, please write to us at <a href="mailto:support@docullyvdr.com">support@docullyvdr.com</a>
      <br><br><br>
      <div>    
        <a  mat-raised-button class="cdr-btn big-btn blue-btn" style="padding: 5px 20px; border-radius: 4px;" href="https://stage.docullyvdr.com/#/dashboard">
        <i class="fa fa-home" style="color: white; height: 20px" aria-hidden="true"></i>
        Home</a></h5>
    </div>
  </div>
</div>
</div>
</div>
<footer class="content-footer">
  <div class="footer">
    <div class="copyright">
      <span>&copy; 2019 DOCULLY. All rights reserved.</span>
      <span class="go-right">
        <!-- <a href="">Blog</a>
                      <a href="">Security</a>
                      <a href="">Legal Support (022) 4010-4011</a> -->
        <a href="mailto:support@docullyvdr.com">support@docullyvdr.com</a>
      </span>
    </div>
  </div>
</footer>
</div>

</html>