<div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm' style='background-color: white; color: black; max-width: 600px;'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='content-type' content='text/html;charset=UTF-8'>

  <style>
    html, body { margin: 0px; }
    #crmWebToEntityForm.zcwf_lblLeft { width: 100%; padding: 25px; margin: 0 auto; box-sizing: border-box; text-align: left; }
    #crmWebToEntityForm * { box-sizing: border-box; direction: ltr; }
    .zcwf_lblLeft .zcwf_title { word-wrap: break-word; padding: 0px 6px 10px; font-weight: bold; font-family: Arial; font-size: 18px; }
    .zcwf_lblLeft .zcwf_row { margin: 15px 0px; }
    .zcwf_lblLeft .zcwf_col_lab { width: 30%; word-break: break-word; padding: 0px 6px; margin-right: 10px; margin-top: 5px; float: left; min-height: 1px; font-size: 12px; font-family: Arial; }
    .zcwf_lblLeft .zcwf_col_fld { float: left; width: 68%; padding: 0px 6px; position: relative; margin-top: 5px; }
    .zcwf_lblLeft .zcwf_col_fld input[type=text], .zcwf_lblLeft .zcwf_col_fld textarea { width: 100%; border: 1px solid #c0c6cc !important; border-radius: 2px; }
    .zcwf_lblLeft .zcwf_col_fld textarea { resize: vertical; font-family: Arial; }
    .zcwf_lblLeft .formsubmit.zcwf_button { color: white !important; background: linear-gradient(0deg, #0279FF 0%, #00A3F3 100%); cursor: pointer; border: none; padding: 8px 20px; border-radius: 4px; }
    .zcwf_lblLeft .zcwf_row:after { content: ''; display: table; clear: both; }
    @media all and (max-width: 600px) {
      .zcwf_lblLeft .zcwf_col_lab, .zcwf_lblLeft .zcwf_col_fld { width: auto; float: none !important; }
    }
  </style>

  <form id='webform6869943000002370009' action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads6869943000002370009' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory6869943000002370009()' accept-charset='UTF-8'>
    
    <input type='text' style='display:none;' name='xnQsjsdp' value='7794507972b04ec6f2606860407baeacf338e4255d56ff166d37c2994d2878ab'>
    <input type='hidden' name='zc_gad' id='zc_gad' value=''>
    <input type='text' style='display:none;' name='xmIwtLD' value='f1d8dd37027b3780f8010cb34f380d52107fe8ec5a3a0280c7361a9c070cc4a5adb3ded24b958a5c2fc95ccb9646ac66'>
    <input type='text' style='display:none;' name='actionType' value='TGVhZHM='>
    <input type='text' style='display:none;' name='returnURL' value='null'>
    <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'>
    <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'>

    <div class='zcwf_title'>Request Custom Pricing</div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='First_Name'>First Name</label></div>
      <div class='zcwf_col_fld'><input type='text' id='First_Name' name='First Name' maxlength='40'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Last_Name'>Last Name <span style='color:red;'>*</span></label></div>
      <div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Company'>Company <span style='color:red;'>*</span></label></div>
      <div class='zcwf_col_fld'><input type='text' id='Company' name='Company' maxlength='200'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Email'>Email</label></div>
      <div class='zcwf_col_fld'><input type='text' ftype='email' id='Email' name='Email' maxlength='100'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Phone'>Phone</label></div>
      <div class='zcwf_col_fld'><input type='text' id='Phone' name='Phone' maxlength='30'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Country'>Country</label></div>
      <div class='zcwf_col_fld'><input type='text' id='Country' name='Country' maxlength='100'></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'><label for='Description'>Description</label></div>
      <div class='zcwf_col_fld'><textarea id='Description' name='Description'></textarea></div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'>Enter the Captcha</div>
      <div class='zcwf_col_fld'>
        <input type='text' id='captchaField6869943000002370009' name='enterdigest' maxlength='10'>
        <div style="margin-top:10px;">
          <img id='imgid6869943000002370009' src='https://crm.zoho.com/crm/CaptchaServlet?formId=f1d8dd37027b3780f8010cb34f380d52107fe8ec5a3a0280c7361a9c070cc4a5adb3ded24b958a5c2fc95ccb9646ac66'>
          <a href='javascript:;' onclick='reloadImg6869943000002370009();'>Reload</a>
        </div>
      </div>
    </div>

    <div class='zcwf_row'>
      <div class='zcwf_col_lab'></div>
      <div class='zcwf_col_fld'>
        <input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit'>
        <input type='reset' class='zcwf_button' style='color: black; background: #eee;' value='Reset'>
      </div>
    </div>

    <script>
      function reloadImg6869943000002370009() {
        var captcha = document.getElementById('imgid6869943000002370009');
        if (captcha.src.indexOf('&d') !== -1) {
          captcha.src = captcha.src.substring(0, captcha.src.indexOf('&d')) + '&d' + new Date().getTime();
        } else {
          captcha.src = captcha.src + '&d' + new Date().getTime();
        }
      }

      function checkMandatory6869943000002370009() {
        var mndFileds = ['Company', 'Last Name'];
        var fldLangVal = ['Company', 'Last Name'];
        for (var i = 0; i < mndFileds.length; i++) {
          var fieldObj = document.forms['WebToLeads6869943000002370009'][mndFileds[i]];
          if (fieldObj && fieldObj.value.replace(/^\s+|\s+$/g, '').length == 0) {
            alert(fldLangVal[i] + ' cannot be empty.');
            fieldObj.focus();
            return false;
          }
        }
        trackVisitor6869943000002370009();
        return true;
      }

      // Tracking script initialization
      var $zoho = $zoho || {};
      $zoho.salesiq = $zoho.salesiq || { widgetcode: 'siqfe75c06c1681fb3086044fd392da0eb9c517c87d5d9810531d081a342714dcd02a9df77dbb9e1484ab270f22137695e4', values: {}, ready: function(){} };
      var d = document, s = d.createElement('script');
      s.type = 'text/javascript'; s.id = 'zsiqscript'; s.defer = true;
      s.src = 'https://salesiq.zoho.com/widget';
      var t = d.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);

      function trackVisitor6869943000002370009() {
        try {
          if ($zoho) {
            var LDTuvidObj = document.forms['WebToLeads6869943000002370009']['LDTuvid'];
            if (LDTuvidObj) LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();
          }
        } catch (e) {}
      }
    </script>
  </form>
</div>