	{% load static %}
	<!-- <title>CONFIEX DATAROOM</title> -->
	<!-- Add css file here -->
<!-- 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href='http://www.axatcloud.com:8070/static/css/emailer.css'>
  -->
  <!DOCTYPE html>
<html lang="en">
<head>
  <title> Docully </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
 .logo{
    text-align: center !important;
    padding-top: 25px;
}


.content
{
    Font-family:Sans-serif;
}

span.context {
    
    font-weight: 600;
    color: #616161;
    line-height: 23px;
    font-size: 14px;
}

.email {
    border: 1px solid #ddd;
    padding: 31px;
    border-radius: 8px;
    margin: 4% 10%;
}

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row ">
      <div class="col-md-12">
          <div class="logo ">
              <a href="#"><img src="https://docullystorage.blob.core.windows.net/docullycontainer/assets/images/DocullyVDR_LOGO.png" alt="" width="29%" height="auto"></a>
           </div>
     </div>  

{% block context %}

{% endblock context%}

</div>
</div>
</body>
</html>

