
{% extends 'emailer/base/base.html' %}


 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
					<p><strong style=" font-weight: 600; color: #4e6e7f; font-size: 16px;">Hi {{ user.first_name }},</strong></p>
					<p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">
					Hi <b>{{user.first_name}} {{user.last_name}}</b>,
You have been invited by {{sender.first_name}} {{sender.last_name}} to join <b>{{dataroom.dataroom_name}}</b> dataroom.
	<br/>

	You have been added to Project{{dataroom.dataroom_name}} by {{sender.first_name}} {{sender.last_name}} to review & collaborate on project documents. 
	Click on the link below to login & access Project {{dataroom.dataroom_name}}.
<br>{{new_data.invitation_link}}<br>
	Your user id - {{user.email}}
	Password - If you are a first time user, you will receive your account activation link separately to verify your account and setup your secure password. If you are an existing user then use your existing password.  

					</p>
	 <p>If you have forgotten your password, click <a href="http://52.172.204.103/#/forget">here</a> to Reset Password </p>
                <br>


				 <p style="padding-left: 20px; padding-right: 20px;">
                            
                            If you need any help, please feel free to visit our HelpDesk <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">{{site_setting.support_email_id}} or write to us at support@docully.com 
                        </p>
              
                   
                            <p style="font-weight: 600; padding:15px 0 0;  margin: 0 0 5px; border-top:1px solid #f1f1f1;">Best regards,</p>
                            <p style="padding: 0; margin: 0 0 5px; color: #7a7a7a">Your ConfiexDataroom Team</p>
                            <p style="padding: 0; margin: 0;"><a href="{{site_setting.domain_name}}" target="_blank" style="color:#0cd3f1;">{{site_setting.domain_name}}</a></p>
                        
            <p>Thanks,</p>
            <p><span class="context">Team Docully</span></p>

            <div class="" style="text-align: center;">
              <h4 style="color:rgb(251, 220, 0)">Docully Innovation Limited</h4>
              <p style="color:rgb(0, 89, 251)">Office #9, Level 4, Gate District 5,<br>Dubai International Financial Center,<br>PO Box - Dubai, UAE.<br>Phone: +971504127097<br><a ref="https://www.docully.com">www.docully.com</a> 
                  </p>

              <p>If you have received this email in error, please report it to 
                <a ref="support@docully.com">support@docully.com</a></p>

            </div>

 </div>

               </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}