
{% extends 'emailer/base/base.html' %}


 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
                            <p><strong style=" font-weight: 600; color: #4e6e7f; font-size: 16px;">Hi {{ user.first_name }},</strong></p>
                            <p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">
                            	                           
                                <br/>
 
	<!-- <tr>
		<td>
			<table cellspacing="0" cellpadding="0" style="width: 600px; margin: 0 auto; background: white" align="center">
			<tr>
				<th>
					<img  src="{{site_setting.domain_name}}static/images/cdr-logo.png" alt="Welcome to ConfiexDataroom" align="center">
				</th>
			</tr>

			<tr>
				<td style="padding-left: 20px; padding-right: 20px;">
					<p><strong style=" font-weight: 600; color: #4e6e7f; font-size: 16px;">Hello {{ user }},</strong></p>
					<p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;"> 
						Welcome to  ConfiexDataroom. <br/><br/>You have new update in <b>{{dataroom}}</b> dataroom.<br/><br/>To view in detail, <a>click here.</a><br/><br/>
					</p>
				</td>
			</tr>
		</table>
		</td>
	</tr> -->
	<h1>New file uploaded in <b>{{dataroom}}</b> dataroom.</h1>

                        <p>                            
                            If you need any help, please feel free to visit our  <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">HelpDesk</a> or write to us at support@docully.com 
                        </p>
                    
            <p>Thanks,</p>
            <p><span class="context">Team Docully</span></p>

            <div class="" style="text-align: center;">
              <h4 style="color:rgb(251, 220, 0)">Docully Innovation Limited</h4>
              <p style="color:rgb(0, 89, 251)">Office #9, Level 4, Gate District 5,<br>Dubai International Financial Center,<br>PO Box - Dubai, UAE.<br>Phone: +971504127097<br><a ref="https://www.docully.com">www.docully.com</a> 
                  </p>

              <p>If you have received this email in error, please report it to 
                <a ref="support@docully.com">support@docully.com</a></p>

            </div>

               </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}