<html>
First Name: {{user_info.first_name}}<br>
Last Name: {{user_info.last_name}}<br>
Company Name: {{company_name}}<br>
Phone: {{phone}}<br>
Email: {{user_info.email}}<br>
Street: {{data.billing_address}}<br>
City: {{data.billing_city}}<br>
State: {{data.billing_state}}<br>
Country: {{country}}<br>
Plan Name: {{plan_name}}<br>
Data Room Name: {{projectname}}<br>
Data Room ID: {{data.dataroom.id}}<br>
Start Date: {{startdate}}<br>
End Date: {{enddate}}<br>
Amount: {{Amount}}</br>
Signup Type: {{signup_type}}</br>
Addon Type: {{addon_type}}</br>
Addon Quantity: {{addon_quantity}}</br>
Addon Validity: {{addon_validity}}</br>
Payment Status: {{payment_status}}</br>
Payment Mode: {{payment_mode}}</br>
Payment Reference: {{payment_reference}}</br>
</html>