<html>
Addon name: {{flag}}<br>
Amount: {{addondata.total_cost}}<br>
Purchase date: {{purchase_date}}<br>
First Name: {{user_info.first_name}}<br>
Last Name: {{user_info.last_name}}<br>
Company Name: {{user_info.company_name}}<br>
Phone: {{user_info.phone}}<br>
Email: {{user_info.email}}<br>
Street: {{plandata.billing_address}}<br>
City: {{plandata.billing_city}}<br>
State: {{plandata.billing_state}}<br>
Country: {{plandata.billing_country}}<br>
Plan Name: {{addondata.dvd_addon_plan.name}}<br>
Data Room Name: {{projectname}}<br>
Data Room ID: {{plandata.dataroom.id}}<br>
Start Date: {{startdate}}<br>
End Date: {{enddate}}<br>
</html>