{% extends 'emailer/base/base.html' %}


 {% block context %}
<style>

 .button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 /* Black */
</style>
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
                            <p><strong style=" font-weight: 600; font-size: 16px;">Hello {{user}},</strong></p>
                            <p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">
                            	                           
                                <br/>
                                This is to alert you that the auto payment to be charged on your credit/debit had failed & is now highly overdue for your Docully Subscription for Project {{projectname}}. As a result of the overdue amount, the data room, data files, user logs & reports have been marked in que for permanent deletion from our servers.<b> The due date for deletion is {{deletiondate}}.</b> All this data once deleted from our servers cannot be reinstated under any circumstances. <br/>
                                You can still request to reactivate your data room with all data, files, logs & reports by clearing all your current dues. <br>
                                Here are your subscription details:
                                <ul>
                                  <li>Data Room ID – {{data.dataroom.id}}</li>
                                  <li>Data Room Name – {{projectname}}</li>
                                  <li>Total Due Amount – USD {{dueamount}} </li>
                                  <li>Due Date – {{duedate}}</li><br>
                                </ul><br><br>     
<a href="https://services.docullyvdr.com/#/manage-subscription/{{data.id}}"><button class="button">Pay Now</button></a><br><br>                  For details on the billing on your subscription account, you may visit the Docully platform: <br>

                                                           <ul>
                                  <li>Go to <a href="https://services.docullyvdr.com">https://services.docullyvdr.com</a> & login.</li>
                                  <li>Click on the Subscriptions Tab.</li>
                                  <li>Choose the Data Room Name & ID and click on View/Manage</li>
                                  <li>Click on the Pay Now button to clear your outstanding.</li>
                                </ul><br><br>

                                You will receive a payment confirmation & invoice once the payment is successfully processed. <br>. Thank for your attention. For any queries, write to us at <a href="mailto:billing@docully.com">billing@docully.com</a><br><br>


            <p>Thanks,</p>
            <p>Accounts Receivable Team</p>

            <div class="" style="text-align: center;">
              <h4 style="color:rgb(251, 220, 0)">Docully SaaS Technologies Co. LLC</h4>
              <p style="color:rgb(0, 89, 251)"><a href="https://www.docully.com">www.docully.com</a> 
                  </p>

              <p>If you have received this email in error, please report it to 
                <a href="mailto:support@docullyvdr.com">support@docullyvdr.com</a></p>

            </div>

               </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}