{% extends 'emailer/base/base.html' %}


 {% block context %}
 <div class="col-md-12" >
        <div class="email">
        <div class="content">
                            <p><strong style=" font-weight: 600; font-size: 16px;">Dear {{user}},</strong></p>
                            <p style="margin-top: 5px; margin-bottom: 15px; font-size: 14px;">
                            	                           
                                <br/>
                                This email is to notify you that your 15 Days free trial on Docully has expired and since you have not activated a paid subscription, access to your data room is now restricted for you and for all other users on the data room.<br/><br/>
                                Here is the summary:<br/><br/>
                                <table border="2">
                                  <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Project Name</th>
                                    <th>Plan Details</th>
                                    <th>Action</th>

                                  </tr>
                                  <tr>
                                    <td>{{starttdate}}</td>
                                    <td>{{endddate}}</td>
                                    <td>{{projectname}}</td>
                                    <td>Plan Name : {{data.plan.name}},<br>Package Period : {{data.plan.term}},<br>Storage : {{data.plan.storage}} GB,<br>Users : {{data.plan.users}},<br>Cost : {{data.plan.cost}},</td>
                                    <td><a href="https://services.docullyvdr.com/#/manage-subscription/{{data.id}}"> Manage Subscription </a></td>

                                  </tr>
                                </table><br><br><b><u>
                                Please note:</u></b><br>
                                <ul>
                                  <li>The access to the data room will automatically be revoked if the trial is not converted into a paid subscription plan. You may click on My Subscriptions tab from your dashboard to manage your existing subscriptions.</li>
                                  <li>If the trial account is not converted to a paid subscription plan within 15 days from the free trial expiry date, the data and the data room may be permanently deleted by Docully.</li>
                                  <li>Data and Data room once deleted, cannot be reinstated.</li>
                                </ul><br><br>
                                <b><u>Login to Docully</u> - </b><a href="https://services.docullyvdr.com/">Click Here</a><br><br>

                                <b>Your user id -</b> {{email}}<br/><br/>
                                <b>Password -</b> Use your existing password. If you have forgotten your password, click here to <a href="https://services.docullyvdr.com/#/forget">Reset Password</a><br/><br/>                  
                        <p>                            
                            If you need any help, please feel free to visit our  <a href="mailto:support@axatcloud.com" style="color:#0cd3f1;">HelpDesk</a> or write to us at support@docullyvdr.com 
                        </p>
                    
            <p>Thanks,</p>
            <p><span class="context">Team Docully</span></p>

            <div class="" style="text-align: center;">
              <h4 style="color:rgb(251, 220, 0)">Docully SaaS Technologies Co. LLC</h4>
              <p style="color:rgb(0, 89, 251)"><a href="https://www.docully.com">www.docully.com</a> 
                  </p>

              <p>If you have received this email in error, please report it to 
                <a href="mailto:support@docullyvdr.com">support@docullyvdr.com</a></p>

            </div>

               </div>
     </div>
           
       </div>
       
      </div>
     </div>    

{% endblock %}